vdldashboard.json
[{"id":"15383d6a.235373","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1257186b.0a2a38","type":"change","z":"15383d6a.235373","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["f51c664.1c4ff98","10fe0e9f.a28511"]]},{"id":"f51c664.1c4ff98","type":"ui_gauge","z":"15383d6a.235373","name":"Thermometer","group":"74461ee.bb34ee","order":1,"width":0,"height":0,"gtype":"gage","title":"Thermometer","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":100,"wires":[]},{"id":"ebc9af3f.8eb3f","type":"change","z":"15383d6a.235373","name":"hum","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["6da57f94.3deb2","a1b354c8.8b9608"]]},{"id":"6da57f94.3deb2","type":"ui_gauge","z":"15383d6a.235373","name":"Hygrometer","group":"74461ee.bb34ee","order":2,"width":0,"height":0,"gtype":"gage","title":"Hygrometer","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":180,"wires":[]},{"id":"6a598f88.a0418","type":"change","z":"15383d6a.235373","name":"atm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["c24d86d8.1920a8","8412940.7dd2e7"]]},{"id":"c24d86d8.1920a8","type":"ui_gauge","z":"15383d6a.235373","name":"Barometer","group":"74461ee.bb34ee","order":3,"width":0,"height":0,"gtype":"gage","title":"Barometer","label":"mbar","format":"{{value}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":260,"wires":[]},{"id":"10fe0e9f.a28511","type":"ui_chart","z":"15383d6a.235373","name":"Temperature Chart","group":"caa77386.99cf3","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"50","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":140,"wires":[[]]},{"id":"308f0317.628a5c","type":"mqtt in","z":"15383d6a.235373","name":"","topic":"Logger Data","qos":"2","datatype":"json","broker":"345f1d0d.674e72","x":150,"y":380,"wires":[["aaf192f9.a73eb","1257186b.0a2a38","ebc9af3f.8eb3f","6a598f88.a0418","ba9af37.0a14b1","d958f6f5.4df218","81d79e17.443d2","bb6588ee.2fa698","897cbe92.1a661","7b79c38.b46ed3c","3fe5a94.dc38356","c225ab79.c068b8","75464e2a.5db17","c9d58651.4f58a8","ec6a66ef.53cfc8"]]},{"id":"aaf192f9.a73eb","type":"debug","z":"15383d6a.235373","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":20,"wires":[]},{"id":"a1b354c8.8b9608","type":"ui_chart","z":"15383d6a.235373","name":"","group":"caa77386.99cf3","order":2,"width":"0","height":"0","label":"Relative Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":220,"wires":[[]]},{"id":"8412940.7dd2e7","type":"ui_chart","z":"15383d6a.235373","name":"","group":"caa77386.99cf3","order":3,"width":"0","height":"0","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":300,"wires":[[]]},{"id":"ba9af37.0a14b1","type":"change","z":"15383d6a.235373","name":"Xa","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.xa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["610e7e6e.98531"]]},{"id":"610e7e6e.98531","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Xa","tooltip":"","group":"d1a2e934.387e38","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.xa","x":760,"y":360,"wires":[[]]},{"id":"d958f6f5.4df218","type":"change","z":"15383d6a.235373","name":"Ya","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ya","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["ab887258.f2e9b"]]},{"id":"ab887258.f2e9b","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Ya","tooltip":"","group":"d1a2e934.387e38","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.ya","x":770,"y":400,"wires":[[]]},{"id":"81d79e17.443d2","type":"change","z":"15383d6a.235373","name":"Za","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.za","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["8e290fb2.e9815"]]},{"id":"8e290fb2.e9815","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Za","tooltip":"","group":"d1a2e934.387e38","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.za","x":770,"y":440,"wires":[[]]},{"id":"bb6588ee.2fa698","type":"change","z":"15383d6a.235373","name":"Pitch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pitch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":500,"wires":[["87aa63fa.576f2"]]},{"id":"897cbe92.1a661","type":"change","z":"15383d6a.235373","name":"Roll","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.roll","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["ddcaad65.c8b36"]]},{"id":"7b79c38.b46ed3c","type":"change","z":"15383d6a.235373","name":"Yaw","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ya","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["acd66094.de9d4"]]},{"id":"87aa63fa.576f2","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Pitch","tooltip":"","group":"3ac26fb.bfb9a9","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.pitch","x":770,"y":500,"wires":[[]]},{"id":"ddcaad65.c8b36","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Roll","tooltip":"","group":"3ac26fb.bfb9a9","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.roll","x":770,"y":540,"wires":[[]]},{"id":"acd66094.de9d4","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Yaw","tooltip":"","group":"3ac26fb.bfb9a9","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.yaw","x":752,"y":578,"wires":[[]]},{"id":"3fe5a94.dc38356","type":"change","z":"15383d6a.235373","name":"Xm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.xm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":453,"y":638,"wires":[["cac0dea2.cd8ec"]]},{"id":"cac0dea2.cd8ec","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Xm","tooltip":"","group":"371226b7.dfee6a","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.xm","x":750,"y":640,"wires":[[]]},{"id":"c225ab79.c068b8","type":"change","z":"15383d6a.235373","name":"Ym","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ym","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":700,"wires":[["2f51f526.54e40a"]]},{"id":"75464e2a.5db17","type":"change","z":"15383d6a.235373","name":"Zm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.zm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466,"y":755,"wires":[["8b2c5011.c93e3","e6e5f99e.04c058"]]},{"id":"2f51f526.54e40a","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Ym","tooltip":"","group":"371226b7.dfee6a","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.ym","x":750,"y":700,"wires":[[]]},{"id":"8b2c5011.c93e3","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Zm","tooltip":"","group":"371226b7.dfee6a","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.zm","x":767,"y":754,"wires":[[]]},{"id":"e6e5f99e.04c058","type":"ui_gauge","z":"15383d6a.235373","name":"","group":"ada58ba7.fa4998","order":2,"width":"0","height":"0","gtype":"compass","title":"Heading","label":"Degrees True","format":"{{value}}","min":0,"max":"359","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":820,"wires":[]},{"id":"1d0a9d43.fc8253","type":"ui_gauge","z":"15383d6a.235373","name":"","group":"ada58ba7.fa4998","order":1,"width":"0","height":"0","gtype":"gage","title":"Speed","label":"km/hr","format":"{{value}}","min":0,"max":"220","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":880,"wires":[]},{"id":"c9d58651.4f58a8","type":"change","z":"15383d6a.235373","name":"Vel","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":840,"wires":[["1d0a9d43.fc8253"]]},{"id":"6f9f15f.3ad6fec","type":"ui_text_input","z":"15383d6a.235373","name":"","label":"Altitude (m)","tooltip":"","group":"ada58ba7.fa4998","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.alt","x":800,"y":940,"wires":[[]]},{"id":"ec6a66ef.53cfc8","type":"change","z":"15383d6a.235373","name":"Alt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[["6f9f15f.3ad6fec","11361aca.3bdec5"]]},{"id":"11361aca.3bdec5","type":"ui_chart","z":"15383d6a.235373","name":"","group":"ada58ba7.fa4998","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1000,"wires":[[]]},{"id":"74461ee.bb34ee","type":"ui_group","name":"Guages","tab":"55925672.3514d8","order":5,"disp":false,"width":"6","collapse":false},{"id":"caa77386.99cf3","type":"ui_group","name":"Graphs","tab":"55925672.3514d8","order":6,"disp":false,"width":"6","collapse":false},{"id":"345f1d0d.674e72","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1a2e934.387e38","type":"ui_group","name":"IMUData","tab":"55925672.3514d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3ac26fb.bfb9a9","type":"ui_group","name":"Attitude","tab":"55925672.3514d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"371226b7.dfee6a","type":"ui_group","name":"Magnetometer","tab":"55925672.3514d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ada58ba7.fa4998","type":"ui_group","name":"Navigation","tab":"55925672.3514d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"55925672.3514d8","type":"ui_tab","name":"Logger Dashboard","icon":"dashboard","disabled":false,"hidden":false}]